@import '../../styles/variables';
@import '../../styles/queries';

footer{
  width:100%;
    background:$secondary;
    position:relative;
    padding:30px;
    height:auto;
  transition:background 0.8s ease-in;
    &:hover{
        background:darken($secondary,10%);
        transition:background 3s ease-in;
    }

    &:hover .footer-header{ color:#fff; transition:all 3s ease-in; }

    & ul{
      list-style: none;  
     margin:0 30px;   
    
     & li {
  margin:20px 0;
  & a{
    white-space: nowrap;
  }
     }

    }
}

.footer-ul{
  display:flex;
 flex-direction:column;
  @include media(360px){
    flex-direction:row;
    flex-wrap:wrap;
    margin-bottom:20px;
  }
  
}

.footer-bottom{
  position:absolute;
  white-space:nowrap;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  margin:0 0 10px 0;
}


.footer-social-icons{
    //padding:20px;
    margin:15px 0;
    margin-bottom:30px;
    width:auto;
  //  border:2px solid red;
    & li{ list-style:none; letter-spacing:2px; margin-left:5px; }
    & div{
        width:100%;
        white-space:nowrap;
    //    border:2px solid green;
        & a{ text-decoration:none; }
        & i{
            margin:10px;    
            cursor:pointer;

        }
    }
}