
  &__icon{
    @include positioned-center($value:relative);

    cursor:pointer !important;
     &,&::before,&::after{
       width:27px;
       height:3px;
       display:block;
       background:$grey-dark;
       border:0;
       cursor:pointer !important;
     }

     &::before,&::after{
       content:'';
       position:absolute;
     }

     &::before{
        top:-8px;
       // background:blue;
     }

     &::after{
        // background:pink;
        top:8px;
     }

 } //icon btn

 &__button:hover &__icon:before{
     top:-10px !important;
 }

 
 &__button:hover &__icon:before{
   top:10px !important;
}


&__checkbox:checked +&__button &__icon {
   background-color: transparent;
 }

 &__checkbox:checked +&__button &__icon:before {
   top      : 0;
   -webkit-transform: rotate(135deg);
           transform: rotate(135deg);
 }

 &__checkbox:checked +&__button &__icon:after {
   top      : 0;
   -webkit-transform: rotate(-135deg);
           transform: rotate(-135deg);
 }






 
 & .mobile-item{
  margin-top:15px;
margin-left:5px;
 width:auto;
// background:orange;

 &:nth-child(4){
   display:none;
 }

 @include media(640px){
   
 &:nth-child(4){
  display:block;
}
 }

}//EOF mobile-item

& .mobile-link{
  padding:10px;
//  width:100%;
background:$primary;
  text-decoration:none;
  font-size:18px;
 color:#fff;
  text-transform:uppercase;  
transition:all .5s;
  &:focus{
 font-size:14px;
  }

}