@import '../../styles/variables';

@import '../../styles/queries';


.carousel-control-prev-icon {
    
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230394E9' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
  
   .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230394E9' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }
 

 
ol {
    position: absolute;
    bottom: 5px;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
 }

 
 ol li,
 ol li.active {
    width: 1rem;
    height: 1rem;
    margin: 0;
    border-radius: 50%;
    border: 0;
    background: transparent;
 }
 
 ol li {
    background: $primary !important;
    margin-left: .5rem;
    margin-right: .5rem;

   @include media ($width:768px){
        background:rgba(255,255,255,0.39);
    }
    
 }
 
 ol.testimonials-indicator li.active {
    background:darken($primary,5%) !important;;
 }

 

//  ol li{
//      background:$primary!important;
     
//       border-radius:50%;
//      margin:5px !important;
//      padding:0 !important;
//  }


  
// lodge slides

.lodge-slide-img{
   width:100%;
    height:300px;    

}



//  AgentsSlides styles

.card-row{
    @include cardRow($padding:15px 0 30px 0);
   //border:2px solid red
}


.card__wrapper{
margin-top:10px !important;
    
& .img-wrapper{
    width:100px;
    height:100px;
    border-radius:50%;
    margin:0 auto;
    

}

    & .shadow {
        margin-top:-50px;

        & p{
            margin-top:40px;
            color:$secondary;
        }
    }

}
 

// testimonial styles

// .cus-slide{
//     width:100% !important;
//     height:500px !important;
    

//     @include media($width:768px){
//         height:300px !important;
//     }
    
// }


// .testimonials{
//     @include media($width:768px){
//         background:$secondary;
//         color:$tertiary !important;

//         &:hover{
//             background:lighten($secondary,5%);
//             color:#fff !important;
//         }
//     }
// }
 
.testimonial-text{ max-width:600px; }


// .testimonial-control-prev  ,
//    .testimonial-control-next {
        
//      height: 60px;
//         width: 60px;
//         outline: none;   
//         border-radius: 50%;
//         border: 1px solid $secondary;
//         background-color: #fff;
//         @include media($width:768px){
//   //          top:80%;
  
//   height: 60px;
//   width: 60px;
//   outline: none;   
//   border-radius: 50%;
//         }
        
//     }

  

 
//     .testimonial-control-prev{ left:10px;  @include media($width:768px){
//         left:calc(30% - 30px);
//     } }

//     .testimonial-control-next{right:10px;  @include media($width:768px){
//         right:calc(30% - 30px);
//     }}
 


ol.testimonials-indicator {
    position: absolute;
    bottom: 5px;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
 }
 
 ol.testimonials-indicator li,
 ol.testimonials-indicator li.active {
    width: 1rem;
    height: 1rem;
    margin: 0;
    border-radius: 50%;
    border: 0;
    background: transparent;
 }
 
 ol.testimonials-indicator li {
    background: $primary;
    margin-left: .5rem;
    margin-right: .5rem;

   @include media ($width:768px){
        background:rgba(255,255,255,0.39);
    }
    
 }
 
 ol.testimonials-indicator li.active {
    background:darken($primary,5%) !important;;
 }

.slides{
    width:90%;
    margin:auto;
    overflow:hidden;
    overflow-y:hidden;
}
    
    



  // lodge slides  

// .lodge-slide-img,.lodge-carousel-item,.lodge-carousel{
//     border-radius:4px;
// }


//cross-fade-effect

.banner-fade-wrapper{
    width:100%;
    height:100vh;  
}
.banner-fade-gallery{
    width:100%;
    height:100vh;
}

.banner-fade-img{
    width:100%;
    height:100vh;
}


//flex review

.flex-review{
  position:relative;
     // border:2px solid $primary;
    height:900px;

    @include media(640px){
        height:650px;
    }

    @include media(1024px){
        height:700px;
        margin-bottom:20px;
    }

    
 & .flex-review-t{
height:calc(100% - 100px);  
//border:2px solid red;
}
 
 & .flex-review-text{
    position:absolute;
    width:400px;
    font-size:20px;
    color:$secondary;
    top:100px;
    left:60px;
    display:none;
    @include media(1024px){
        display:block;
    }
}

}

 